html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.body-container {
    flex: 1;  /* Makes it take up remaining space */
    display: flex;
    justify-content: center;
    align-items: center;  /* Centers the form vertically and horizontally */
}

.form-container{
    color: white;
    background-color: #729a95;
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    text-align: center;
}

h5{
    padding: 10px;
}


.radio-buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 10px;

}

.radio-buttons label {
    display: flex;
    align-items: center;
    gap: 1px; 
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
}

.radio-buttons input
{
    cursor: pointer;
}

.radio-buttons div{
    display: flex;
    
    
}


form button{
    background-color: #324c49;
    margin-top: 50px;
    width: 100%;
    padding: 10px;
    background-color: #3f5955;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

label{
    font-weight: bold;
}


img{
    position: relative;
    margin-bottom: 10px;
}